<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body>
    <header th:replace="~{fragments/header :: header}" class="absolute inset-x-0 top-0 z-50"></header>
    <main class="relative isolate px-6 pt-14 lg:px-8">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
            <div class="mx-auto max-w-2xl lg:mx-0">
                <h2 class="text-4xl font-semibold tracking-tight text-pretty text-gray-900 sm:text-5xl">
                    Mes notes
                </h2>
                <p class="mt-2 text-lg/8 text-gray-600">
                    Consulté vos notes ou créer s'en une à votre images.
                </p>
            </div>
            <div class="mx-auto mt-10 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 border-t border-gray-200 pt-10 sm:mt-16 sm:pt-16 lg:mx-0 lg:max-w-none lg:grid-cols-3">
                <th:block th:each="note : ${notes}">
                    <article class="flex max-w-xl flex-col items-start justify-between">
                        <div class="flex items-center gap-x-4 text-xs">
                            <time th:datetime="${note.date}" class="text-gray-500">
                                <span th:text="${#dates.format(note.date, 'MMM dd, yyyy')}">
                                    Date
                                </span>
                            </time>
                        </div>
                        <a th:href="@{/note(id=${note.id})}">
                            <div class="group relative line-clamp-2">
                                <h3 class="mt-3 text-lg/6 font-semibold text-gray-900 group-hover:text-gray-600">
                                    <span class="absolute inset-0"></span>
                                    <span th:text="${note.title}">Titre de la note</span>
                                </h3>
                            </div>
                            <div class="relative mt-8 flex items-center gap-x-4">
                                <img  th:src="@{${picture != null ? picture : pictureGoogle}}" alt="Photo de profil" class="size-10 rounded-full bg-gray-50">
                                    <div class="text-sm/6">
                                    <p class="font-semibold text-gray-900">
                                        <span th:text="${name} ?: ${nameGoogle}">Nom</span>
                                    </p>
                                    <p class="text-gray-600">
                                        <span th:text="${email} ?: ${emailGoogle}">Email</span>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </article>
                </th:block>
            </div>
        </div>
    </main>
    <script src="/js/logout.js"></script>
</body>
</html>