<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body>
    <header th:replace="~{fragments/header :: header}" class="w-full bg-white shadow-md fixed top-0 left-0 z-50"></header>
    <main class="relative isolate px-6 pt-14 lg:px-8 mt-20 w-full">
        <div class="bg-white p-8 shadow-xl rounded-lg w-full flex flex-col items-center">
            <h1 class="text-3xl font-bold text-center mb-6 text-gray-800">
                Contenu enregistré
            </h1>
            <h2 th:text="${note.title}"></h2>
            <div th:utext="${note.note}" id="content" class="border border-gray-300 p-6 rounded-lg bg-gray-50 min-h-[300px]"></div>

            <div class="mt-6 flex justify-center">
                <a href="/mesNotes" class="bg-indigo-600 text-white py-3 px-6 rounded-lg hover:bg-indigo-500 transition text-lg">
                    Voir mes notes
                </a>
            </div>
        </div>
    </main>
    <script src="/js/logout.js"></script>
</body>
</html>


